.headerDiv {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.pageContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.logo img {
  height: 50px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ul li {
  margin: 0 10px;
}

.headerStyle {
  font-size: 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: all ease .4s;
}

.headerStyle:hover {
  color: #a15911;
}

.button {
  background-color: #ff8100;
  color: white;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: background 0.3s;
}

.button:hover {
  background-color: #a15911;
}


@media (max-width: 600px) {
  .pageContainer {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .nav {
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }

  .button {
    font-size: 12px;
  }

  .ul {
    align-items: center;
  }

  .button {
    max-width: 80%;
    text-align: center;
  }

}
